body {
  margin: 0 auto;
  padding: 10px;
}
input[type='checkbox'] {
  height: 22px;
  width: 25px;
}
div.spinner-border {
  height: 1rem;
  width: 1rem;
}
@media (min-width: 576px) {
  body {
    width: 500px;
    padding: 0;
  }
}
